# ðŸ“˜ Lecture Notes: Pandas DataFrame Concatenation and Merges


These notes explain how to **combine multiple DataFrames** using Pandas. This is essential in data preprocessing and feature engineering stages of Machine Learning.

We'll cover:

- DataFrame Concatenation (Vertical and Horizontal)
- Merging DataFrames (Inner, Left, Right, Outer Joins)

## ðŸ”— Part 1: Concatenation of DataFrames


**Concatenation** is used to stack DataFrames **vertically (row-wise)** or **horizontally (column-wise)**.

### ðŸ”§ Syntax
```python
pd.concat(objs, axis=0, join='outer')
```
- `objs`: list of DataFrames
- `axis=0`: vertical (default), `axis=1`: horizontal
- `join='outer'`: keeps all rows/columns; `'inner'`: only common ones

In [ ]:

import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Alice', 'Bob'],
    'Department': ['HR', 'Finance']
})

df2 = pd.DataFrame({
    'ID': [3, 4],
    'Name': ['Charlie', 'David'],
    'Department': ['IT', 'Marketing']
})

print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nCombined DataFrame")
result = pd.concat([df1, df2], axis=0)
print(result)

In [ ]:

df3 = pd.DataFrame({
    'Score': [85, 90],
    'Grade': ['B', 'A'],
    'Status': ['Pass', 'Pass']
})

df4 = pd.DataFrame({
    'Attendance': [88, 95],
    'Bonus': [5, 10],
    'Remarks': ['Good', 'Excellent']
})

print("Data Frame-3")
print(df3)
print("\nData Frame-4")
print(df4)
print("\nCombined DataFrame")
result = pd.concat([df3, df4], axis=1)
print(result)

## ðŸ”— Part 2: Merging DataFrames


Merging is like SQL JOIN. It combines rows based on keys (column values).

### ðŸ”§ Syntax
```python
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None)
```

In [ ]:

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['Delhi', 'Mumbai', 'Chennai']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Score': [90, 85, 70],
    'Grade': ['A', 'B', 'C']
})

print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nMergedd DataFrame")
result = pd.merge(df1, df2, on='ID', how='inner')
print(result)

In [ ]:

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'City': ['Delhi', 'Mumbai', 'Chennai']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Score': [90, 85, 70],
    'Grade': ['A', 'B', 'C']
})

print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nMergedd DataFrame")
result = pd.merge(df1, df2, on='ID', how='outer')
print(result)

In [ ]:
print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nMerged DataFrame")
result = pd.merge(df1, df2, on='ID', how='left')
print(result)

In [ ]:
df1 = pd.DataFrame({
    'emp_id': [1, 2],
    'name': ['A', 'B'],
    'dept': ['HR', 'IT']
})

df2 = pd.DataFrame({
    'id': [1, 2],
    'salary': [1000, 1500],
    'bonus': [100, 200]
})

print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nMerged DataFrame")

result = pd.merge(df1, df2, left_on='emp_id', right_on='id', how='inner')
print(result)

In [ ]:
df1 = pd.DataFrame({'Name': ['Tom', 'Jerry'], 'City': ['Pune', 'Kolkata'], 'Level': ['Mid', 'Senior']}, index=[1, 2])
df2 = pd.DataFrame({'Score': [95, 80], 'Rank': [1, 2], 'Batch': ['X', 'Y']}, index=[1, 3])

print("Data Frame-1")
print(df1)
print("\nData Frame-2")
print(df2)
print("\nMerged DataFrame")
result = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')
print(result)


## âœ… Summary

| Method         | Function       | Key Used       | Purpose                       |
|----------------|----------------|----------------|-------------------------------|
| Concatenation  | `pd.concat()`  | No             | Stack data vertically or horizontally |
| Merge          | `pd.merge()`   | Columns/Index  | Combine data like SQL joins   |